:root {
  /* Colours */
  --color-bg: #f9b4d3; /* page background /* /*F9B4D3 el. ffd4e0*/

  /* Header */
  --color-head-bg: #f9b4d3;

  /* Logotype */
  --color-logotype-bg: #0e9ef3;
  --color-text-logotype: #00467f;
  --font-logotype-size: 3rem;

  /* Global menu */
  --color-menu-bg: #0e9ef3;
  /* Links */
  --color-link-bg: #f9b4d3;
  --color-link-hover: #fff; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 5px;

  /* Headlines og rubrik */
  --font-h1-size: 10rem;
  --font-sub1-size: 4rem;
  --font-h2-size: 1rem;
  --font-h3-size: 2rem;
  --color-headline-bg: #00467f;
  --color-headline-text-page: #00467f;
  --color-headline-breaking-bg: #fec71d;
  --color-page2-text-page: #f9b4d3;
  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #ffffff;

  /*  Marginer */
  --margin-head-bottom: 5px;
  --margin-head-top: 2rem;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #0e9ef3;
  --color-cta-card-bg: #00467f;
  /* news-cards */
  --color-news-bg: #fec71d;
  --color-news-bg-inverted: #00467f;
  --color-cta-newscard-bg: #00467f;
  --color-cta-newscard-bg-inverted: #fec71d;

  /* Fonts */
  --font-family-sans: ui-sans-serif;
  /* --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700; */
  --font-family-cheeryBomb: "Cherry Bomb One";
  --font-family-sans-serif: sans-serif;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #0e9ef3;
  --color-infobox-1-bg: #fec71d;
  --color-infobox-2-bg: #f9b4d3;

  /*forms*/
  --form-border: 15px solid #004583;
  --form-border-radius: 70px;
  --form-font-family: ui-sans-serif;
  --form-text-color: #004583;
  --form-input-border: 2.5px solid #004583;
  --form-input-border-radius: 10px;
  --form-input-padding: 5px;
  --form-input-width: 100%;
}
